.uploadManager{
  flex-direction: column;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  overflow-y: auto;
}
.uploadManager .itemContainer{
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: space-between;
}
.uploadManager .itemContainer .itemInfo{
  display: flex;
  flex: 1 1 80%;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  order: 1;
}
.uploadManager .itemContainer .itemActions{
  flex: 1 1 20%;
  order: 2;
}
